<p> Conoce más a fondo a tus clientes
    ¿Qué tan satisfecho estás con la compra y entrega? ¿Cada cuánto regresan? ¿Cuántas ventas hiciste en el mes?
    Te damos las herramientas necesarias para evaluar tus ventas y comprender mejor tu mercado. </p>

    <P>Tu producto entregado en tiempo récord
        Entrega más rápido con nuestros diferentes tipos de envío que se acomodan a tus necesidades.
        99Minutos, Mismo día, Día siguiente, CO2 Free, éstas modalidades te permiten administrar tus envíos.</P>

        <P> Envíos desde tu página
            Utilizar nuestros servicios es tan fácil desde tu oficina.
            Una vez que seas parte de nosotros, podrás personalizar, crear y gestionar tus órdenes en tiempo real.</P>