<body class="container">



  <h1 class="package__titulo">Registro de Paquete</h1>

  <div class="card mt-lg-5">
    <div class="card-header bg-info">

    </div>
    <div class="card-body">
      <form class="row g-3">

        <div class="col-md-7">
          <div class="map__container" #mapDirections>
            <app-search-bar></app-search-bar>
          </div>
        </div>
        <div class="col-md-5">
          <label for="fechaenvio" class="form-label">Origen de Paquete</label>
          <input type="text" class="form-control" id="txtfechaenvio">
          <label for="fechaenvio" class="form-label">Destino  de Paquete</label>
          <input type="text" class="form-control" id="txtfechaenvio">

        </div>
        <div class="col-md-6">
          <label for="fechaenvio" class="form-label">Fecha Envio</label>
          <input type="date" class="form-control" id="txtfechaenvio">
        </div>
        <div class="col-md-6">
          <label for="fechaentrega" class="form-label">Fecha Entrega</label>
          <input type="date" class="form-control" id="txtfechaentrega">
        </div>

      </form>
    </div>
  </div>
</body>
